* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #11111A;
}

header {
  position: fixed;
  top: 0;
  background-color: #15152A;
  height: 66px;
  width: 100%;
}
header h2 {
  margin-top: 16px;
  margin-left: 16px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
header h2:hover {
  color: #00FFBA;
  transition: .5s;
}
header img {
  position: absolute;
  margin-top: 13px;
  right: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
}
h3 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
h4 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #fff;
}

footer {
  padding: 5px;
  color: #fff;
}
footer a {
  color: #000000;
  color: #fff;
}
footer .social {
  margin: auto;
  width: 350px;
  height: auto;
  text-align: center;
}
footer .social img {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
footer .pricon a {
  margin-left: 10px;
}
footer .year {
  float: right;
}

@media only screen and (min-width: 600px) {
  body {
    
  }
  
  header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
  }
  header h2 {
    margin-top: 9px;
    margin-left: 9px;
    display: inline-block;
    color: #ffffff;
  }
  header img {
    position: absolute;
    top: 5px;
    right: 9px;
  }
  
  footer {
    
  }
  footer .social {
    float: left;
  }
  footer .pricon {
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
  }
  footer .year {
    margin-top: 8%;
  }
  
  /* other styles -- desktop */
  
  .nav .line {
    display: none;
  }
  .nav .social {
    display: none;
  }
}

/* other styles -- mobile */

.body {
  margin-top: 66px;
  min-height: calc(75vh - 70px);
}

img {
  image-rendering: pixelated;
}

.nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #15152A;
  overflow: auto;
  padding-top: 60px;
  transition: .4s;
  font-family: 'Poppins', sans-serif;
}
.nav .buttons h2 {
  display: block;
  padding: 20px 20px;
  font-size: 40px;
  text-decoration: none;
  color: #ffffff;
}
.nav .buttons a {
  display: block;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
.nav .buttons h2:hover {
  color: #00ccff;
  transition: .3s;
}
.nav .buttons a:hover {
  color: #00ccff;
  margin-left: 10px;
  transition: .3s;
}
.nav h2.close {
  position: absolute;
  top: -16px;
  right: 16px;
  margin-left: 50px;
  font-size: 40px;
}
.nav .line {
  text-align: center;
  padding: 40px;
}
.nav .social {
  text-align: center;
  color: #ffffff;
}
.nav .social a img {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  margin: 2px;
}